/* 自定义Butterfly主题字体 */
@font-face {
    font-family: 'sleek';
    src: url('https://cdn.jsdelivr.net/gh/lete114/CDN2/zaxiang/sleek.woff2');
}
/*zzxx的博客颜色修改*/
/* #page-header #site_title {
    color: #80bdab;
} */
/*页脚a标签字体颜色*/
/* #footer-wrap a {
    color: #00c4b6;
} */
/*页脚自定义字段字体颜色*/
.footer_custom_text {
    color: #000000;
}

/*文章透明*/
/* .layout_post>#post {
    background: rgba(255, 255, 255, .9);
} */